<div class="options">
  <span>Largeur de la grille (px): {{ service.gridWidth }}</span>
  <mat-slider thumbLabel step="5" min="5" max="100" [(value)]="service.gridWidth" (change)="service.redrawGrid()"></mat-slider>
  
  <mat-divider></mat-divider>
  
  <span>Transparence de la grille (px): {{ service.opacity }}</span>
  <mat-slider thumbLabel step="1" min="30" max="100" [(value)]="service.opacity" (change)="service.redrawGrid()"></mat-slider>
</div>