.options {
    border-radius: 15px;
    padding: 5px;
    bottom: 20px;
    right: 20px;
    position: fixed;
    background-color: #303030;
    color: white;
    width: 250px;
    max-height: auto;

}