<div class="options">
    <div>
        <a><button  mat-button (click) = "cut()"><i class="fas fa-cut" ></i> <span>couper</span></button>  </a> 
    </div>
    <div>
        <a><button  mat-button (click) = "copy()"><i class="fas fa-copy"></i>  <span>copier</span></button></a>
    </div>
    <div>
        <a><button  mat-button (click) = "paste()"><i class="fas fa-paste"></i>  <span>coller</span></button></a>

    </div>
    <div>
        <a><button  mat-button (click) = "duplicate()"><i class="fas fa-clone"></i>  <span>dupliquer</span></button></a>
    </div>
    <div>
        <a><button  mat-button (click) = "delete()"><i class="fas fa-trash-alt"></i>  <span>supprimer</span></button></a>
    </div>
    <div>
        <a><button  mat-button (click) = "selectAll()"><i class="fas fa-object-group"></i>  <span>tout sélectionner</span></button></a>
    </div>

  
  

   

 
  
  
</div>