.options {
    border-radius: 15px;
    padding: 5px;
    top: 20px;
    right: 20px;
    position: fixed;
    background-color: #303030;
    color: white;
    max-height: auto;


}


//inspired by https://codeconvey.com/display-text-on-icon-hover-using-html-css/
.options span {
    font-size:14px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    right: 20px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 0;

}
.options a:hover span{ width:auto; padding:0 15px;overflow:visible; }
.options a span{
    background-color:#7B1FA2;
    color:white;
    border-radius: 5px;
}

