<body (keydown)="$event.stopPropagation()">
  
  <h1>Exportation du dessin</h1>
  
  <section class="radio-group">
    <mat-radio-group [(ngModel)]="mail">
      <mat-radio-button class="radio-button" [value]="false">
        Export
      </mat-radio-button>
      <mat-radio-button class="radio-button" [value]="true">
        Email
      </mat-radio-button>
    </mat-radio-group>
  </section>

  <div class= "content" >
    
    <form class="form">
      <mat-form-field class ="full-width">
        <mat-label>Nom du dessin</mat-label>
        <input matInput [formControl]="drawingName" placeholder="Ex. Dessin" >
        <mat-error *ngIf="drawingName.invalid">
          Un nom de dessin est requis. Veuillez entrer un nom.
        </mat-error>
      </mat-form-field>
    </form>
    
    <form class="form" *ngIf="mail">
      <mat-form-field class ="full-width">
        <mat-label>Email de l'usager</mat-label>
        <input matInput [formControl]="emailAddress" placeholder="Ex. exemple@polymtl.ca" >
        <mat-error *ngIf="emailAddress.invalid">
          Adresse courriel invalide. Veuillez entrer une adresse valide.
        </mat-error>
      </mat-form-field>
    </form>
    
    <div id="preview"></div>

    <mat-form-field  class="form" >
      <mat-label>Filtre</mat-label>
      <mat-select [(ngModel)]="filter" (selectionChange)="loadPreview()">
        <mat-option value="@noFilter">Aucun filtre</mat-option>
        <mat-option value="@filterLuminanceToAlpha">Luminance</mat-option>
        <mat-option value="@filterHueRotate">Rotation des teintes</mat-option>
        <mat-option value="@filterSaturate">Saturé</mat-option>
        <mat-option value="@filterFiftyShadesOfGrey">50 nuances de gris</mat-option>
        <mat-option value="@filterSepia">Sepia</mat-option>
        <mat-option value="@filterInverse">Couleurs inversées</mat-option>
      </mat-select>
    </mat-form-field>
    
    <div class="grid-button">
      <button  class="grid-button-item" mat-button (click)="openConfirmPanel('exporter','svg')"> SVG </button>
      <button  class="grid-button-item" mat-button (click)="openConfirmPanel('exporter','png')"> PNG </button>
      <button  class="grid-button-item" mat-button (click)="openConfirmPanel('exporter','jpg')"> JPG </button>
    </div>
    
    <img src="{{preview}}">

  </div>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close >retour</button>
  </mat-dialog-actions>
  
</body>
