body{
    height: 65vh;
    width: 350px;
    background-image: linear-gradient(transparent);
    
 }
 h2{
     text-align: center;
     padding: 50px;
     border-style: solid;

 }
 button{
    background-color: #7B1FA2;
 }
 mat-label{
  color : white;
}
 .grid-button{
   display: grid;
   grid-template-columns: auto auto auto auto;
 }
 .grid-button-item{
   background-color: #7B1FA2;
   margin-left: 2px;
   margin-right: 2px;
   font-size: 20px;
   text-align: center;
 }
 .mat-dialog-actions {
     justify-content: flex-start;
  }
  .content{
     height: 50vh;
  }
 
  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  img {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  .radio-button {
    margin: 10px;
  }
  
  .radio-group {
    font-size: 30px;
    padding-bottom: 20px;
  }