
h1{
    text-align: center;
}
span{
    color :red;
    text-transform: uppercase;
}
 button{
    background-color: #7B1FA2;
 }
 .grid{
    display: grid;
    grid-template-areas:
    '  confirm back';

 }
 .warning{
    color:red;
    line-height: 0.3;
    text-align: center;
 }
 .back{grid-area: back;}

 .confirm{grid-area: confirm;}