<h1 mat-dialog-title> Avertissement</h1>

<ng-template [ngIf]="drawNotNull">
  <div class= "warning"> 
    <p>ATTENTION!</p>
    <p>Votre dessin en cours va être détruit.</p>
    <p>Veuillez sauvegarder si vous souhaitez le conserver.</p>
  </div>
 </ng-template>
 
<div mat-dialog-content>
  <p>Voulez-vous vraiment <span>{{data.action}}</span> le dessin  <span>{{data.name}}</span> ? </p>
</div>
<div mat-dialog-actions align="center">
  <button mat-button mat-dialog-close >retour</button>
  <button [routerLink]="deleteEnabled ? 'drawing' : null" routerLinkActive="is-active" mat-button [mat-dialog-close]="data.action" cdkFocusInitial>confirmer</button>
</div>
