<div class="options">
  <span>Épaisseur du trait (px): {{ strokeWidth.value }}</span>
  <mat-slider #strokeWidth thumbLabel step="1" min="1" max="100" [(ngModel)]="service.strokeWidth"></mat-slider>
  <mat-divider></mat-divider>
  
  <mat-form-field>
    <mat-label>Texture du trait</mat-label>
    <mat-select [(ngModel)]="service.filter">
      <!-- If you are curious about the names of the textures: https://www.roser-swiss.com/fr-furniere-holzarten_a-z.html -->
      <mat-option value="@sapeli">Sapeli fumé</mat-option>
      <mat-option value="@amboine">Amboine</mat-option>
      <mat-option value="@thuja">Thuya</mat-option>
      <mat-option value="@ebony">Ébène de Macassar</mat-option>
      <mat-option value="@oak">Chêne soyeux</mat-option>
    </mat-select>
  </mat-form-field>
 
</div>