.rgbText {
    width: 40px;
    margin: 5px;
}

// for the arrow in the input
.rgbText::-webkit-inner-spin-button{
    margin: 0;
}

#rgbNumber {
    grid-row: 1;
    display: ltr;
}

#hexaColor {
    float: center;
    grid-row: 2;
}

#hexaInput {
    width: 100px;
    margin: 5px;
}

h1 {
    float: left;
    width: auto;

    color: white;
    margin: 5px 0 0 0;
    font-size: 16px;
}

h2 {
    float: left;
    
    color: white;
    font-size: 16px;

    margin-top: 5px;
}
#r{
    float: left;
}

#g{
    float: left;
}

#b{
    float: left;
}

#textInput {
    display: grid;
}