<div id="textInput">
    <div id=rgbNumber>
        <h1>RGB</h1>
        <input
            [(ngModel)]="color[INPUT.R]"
            (keydown)="$event.stopPropagation()"
            (keyup)="inputHexa(rColor.value, INPUT.R)"
            class="rgbText" #rColor id="r">
        <input
            [(ngModel)]="color[INPUT.G]"
            (keydown)="$event.stopPropagation()"
            (keyup)="inputHexa(gColor.value, INPUT.G)" 
            class="rgbText" #gColor id="g">
        <input
            [(ngModel)]="color[INPUT.B]"
            (keydown)="$event.stopPropagation()"
            (keyup)="inputHexa(bColor.value, INPUT.B)" 
            class="rgbText" #bColor id="b">
    </div>
    <div id="hexaColor">
        <h1>HEX</h1>
        <input
            [(ngModel)]="color[INPUT.RGB]"
            (keydown)="$event.stopPropagation()"
            (keyup)="inputHexa(hexaColor.value, INPUT.RGB)"
            id="hexaInput" #hexaColor>
    </div>
</div>