
<div class="options">
  <span>Épaisseur du trait de contour (px): {{ strokeWidth.value }}</span>
  <mat-slider #strokeWidth thumbLabel step="1" min="1" max="100" [(ngModel)]="service.strokeWidth"></mat-slider>
  
  <mat-divider></mat-divider>
  
  <mat-slide-toggle [(ngModel)]="service.borderEnabled" [disabled]="borderButtonDisabled" (change)="onBorderButtonChange()">
        Contour
  </mat-slide-toggle>
  
  <mat-divider></mat-divider>
  
  <mat-slide-toggle [(ngModel)]="service.fillEnabled" [disabled]="fillButtonDisabled" (change)="onFillButtonChange()">
        Plein
  </mat-slide-toggle>

</div>