 h1{

  margin: 0px;
}

h3 {
  position: relative;
  top: 30px;
}

.home {
  color: white;
  background-color: #303030;
  margin: 0px; 
  text-align: center;
  height: 100vh;
}
.example-boundary {
  width: auto;
}

.circle,.button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: auto;
  margin-right: auto;
  background-color: #7B1FA2; 
  border-radius: 7px;
}
.circle {
  position: relative;
  top: 15px;
  width: 450px;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: move;
  
}

.grpButton {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.button {
  color: white;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  width: 300px;
  display: block;
}

.button:hover {
  background-color : #585858;
  animation: shake 0.8s;
  animation-iteration-count: 1;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
}



