
    <body >
        <div class = "home" >
            <div class= "example-boundary" >
                <div class ="circle" cdkDragBoundary=".example-boundary"  cdkDrag>
                    <h1> PolyDessin  </h1>
                </div>
            </div>

              
            <h3  style="height:100px" > Bienvenue dans l'application PolyDessin !</h3>
                <div>
                    <div style="height:60px"  >
                        <button class="button"  mat-button (click)="openNewDraw()">Créer un nouveau dessin</button> 
                    </div >
                    <div style="height:60px">
                        <button class="button" mat-button (click) ="openGallery()" >Ouvrir la Galerie de dessins</button>
                    </div>
                    <div style="height:60px">
                        <button class="button" mat-button (click) = "openGuide()" >Afficher le Guide d'utilisation</button> 
                    </div>
                    <ng-template [ngIf]="show">
                        <div  style="height:60px">
                            <button class="button" mat-button  routerLink = 'drawing' (click)= "continueDrawing()">Continuer un dessin</button> 
                        </div>  
                    </ng-template>
                        
                </div>
     
                <footer>
                    <small> Créé par Hubert Barrette-Laganière, Augustin Bouchard, Gabriel Francis, Louis-Philippe Gentile, Jean-Sébastien Patenaude et Louis Roberge 2020
                    </small>
                </footer>
        </div>   
    </body>



