<div class="options">
  <mat-slide-toggle [(ngModel)]="service.junctionsEnabled">
        Jonctions avec points
  </mat-slide-toggle>

  <mat-divider></mat-divider>
  
  <span>Épaisseur du trait de contour (px): {{ strokeWidth.value }} </span>
  <mat-slider #strokeWidth thumbLabel step="1" min="1" max="100" [(ngModel)]="service.strokeSize"></mat-slider>
  
  <mat-divider></mat-divider>
  
  <span>Diamètre des points de jonction (px): {{ diameter.value }}</span>
  <mat-slider #diameter thumbLabel step="1" min="4" max="100" [(ngModel)]="service.dottedEdgeDiameter" [disabled]="!service.junctionsEnabled"></mat-slider>
</div>