<body (keydown)="$event.stopPropagation()">
  
  <h1>Sauvegarde sur le serveur</h1>

  <div class= "content" >
      <mat-form-field class="name">
        <mat-label>Nom du dessin à sauvegarder...</mat-label>
        <input matInput [formControl]="drawingName" placeholder="Ex: dessin" >
        <mat-error *ngIf="drawingName.invalid">
          Un nom de dessin est requis. Veuillez entrer un nom.
        </mat-error>
      </mat-form-field>


      <mat-form-field class="tags">
        <mat-label>Étiquettes du dessin...</mat-label>
        <mat-chip-list #chipList aria-label="tag selection">
          <mat-chip *ngFor="let tag of currentDrawing.tags" (removed)="removeTag(tag)">
            {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
    
          <input placeholder="Ex: paysage"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="SEPARATOR_KEYS_CODES"
                (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
      </mat-form-field>

      <h6>(De 1 à 25 caractères alphanumériques, majuscules ou minuscules, sans accents et sans caractères spéciaux)</h6>
      <h6>(Appuyez sur les touches ENTER ou SPACE pour insérer une nouvelle étiquette)</h6>

      <img src="{{preview}}">
      
      <div class = "button">
        <mat-dialog-actions>
          <button mat-button mat-dialog-close >Retour</button>
          <button mat-button mat-dialog-close  (click)="addDrawing()">Sauvegarder</button>
        </mat-dialog-actions>    
      </div>
  </div>

</body>

