body{
   height: 75vh;
   width: 450px;
   background-image: linear-gradient(transparent);
}

button{
   background-color: #7B1FA2;
}
h2 {
   text-align: center;
   padding: 50px;
   border-style: solid ;
   margin-top: 45px;
}
h6 {
   margin-top: 0px;
   margin-bottom: 5px;
}
mat-label{
   color : white;
}
.mat-dialog-actions {
   justify-content: flex-end;
   position: sticky;
   bottom: 0;
   right: 0;
 }
 .content{
    height: 45vh;
 }
 
 .name {
   width: 100%;
 }
 
 .tags {
   width: 100%;
 }

 img {
   display: block;
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
 }