<div class="options">
  <span>Taille de l'efface (px): </span>
  <b class="strokeWidth">{{strokeWidth.value}}</b>
  <mat-slider #strokeWidth step="1" min="3" max="100" [(ngModel)]="service.strokeWidth"></mat-slider>
</div>
