
.button {
    position: absolute;
    bottom: 20px;
    background-color: #7B1FA2;
}

body {
    font-family: "Lato", sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    margin-left: 60px;
}

.sidenav {
    position: fixed;
    order: 1;
    width: 60px;
    height: 100vh;
    background-color: #7B1FA2;
    overflow-x: hidden;
    padding-top : 10px;
    box-shadow: 0px 0px 10px 0px;
    z-index: 2;
}

.options {
    order: 2;
    z-index: 1;
}

.drawSheet {
    order: 3;
}

.notActive {
    background-color: #7B1FA2;
    border: none;
    color: white;
    padding: 12px 16px;
    border-radius: 8px;
    
    font-size: 32px;
    cursor: pointer;
}

.notActive:hover {
    background-color: #6c2379;
}

.active {
    background-color: #303030; 
    border: none;
    color: white;
    padding: 12px 16px;
    border-radius: 8px;
    
    font-size: 32px;
    cursor: pointer;
}

.active:hover {
    background-color: #1a1a1a;
}

