<html>

    <script src="https://kit.fontawesome.com/9b95dd33ea.js" crossorigin="anonymous"></script>
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet" id="font-awesome-5-kit-css">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all" rel="stylesheet" id="font-awesome-5-kit-css">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet" id="font-awesome-5-kit-css">
    <body class = drawView>
        
        <div class="sidenav">

            <a title="Outils">  <button [ngClass]= "{notActive:true,active:state===PossibleTabs.ATTRIBUT}" mat-button (click)="toggle(PossibleTabs.ATTRIBUT)"><i class="fas fa-palette"></i></button></a>
            <a title="Nouveau dessin"> <button [ngClass]= "{notActive:true,active:state===PossibleTabs.NEW}" mat-button (click)="toggle(PossibleTabs.NEW)"><i class="fas fa-plus"></i></button> </a>
            <a title="Galerie"> <button [ngClass]= "{notActive:true,active:state===PossibleTabs.GALLERY}" mat-button (click)="toggle(PossibleTabs.GALLERY)"><i class="fas fa-folder"></i></button> </a>
            <a title="Sauvegarde"> <button [ngClass]= "{notActive:true,active:state===PossibleTabs.SAVE}"  mat-button (click)="toggle(PossibleTabs.SAVE)"><i class="fas fa-save"></i></button> </a>
            <a title="Exporter"> <button [ngClass]= "{notActive:true,active:state===PossibleTabs.EXPORT}"  mat-button (click)="toggle(PossibleTabs.EXPORT)"><i class="fas fa-file-export"></i></button></a>
            <a title="Guide d'utilisation">  <button [ngClass]= "{notActive:true,active:state===PossibleTabs.HELP}"  mat-button (click)="toggle(PossibleTabs.HELP)"><i class="fas fa-question-circle"></i></button> </a>
            
            <div class="button">

               <a title="Annuler"> <button [ngClass]= "{notActive:true,active:navBar.undoDisabled}" [disabled]="navBar.undoDisabled" mat-raised-button (click)="undo()"><i class="fas fa-undo-alt" ></i></button></a> 
               <a title="Refaire"> <button [ngClass]= "{notActive:true,active:navBar.redoDisabled}" [disabled]="navBar.redoDisabled" mat-raised-button (click)="redo()"><i class="fas fa-redo-alt" ></i></button></a> 

                <a title="Grille"> <button [ngClass]= {notActive:true,active:gridStatus} (click)="toggleGrid()"><i class="fas fa-th"></i></button></a> 

            </div>
        </div>
        
        <div class=container>
            <div class="drawSheet">
                <app-drawSheet></app-drawSheet>
            </div>
            
            <div class="options">
            
                <div *ngIf="state==PossibleTabs.ATTRIBUT">
                    <app-attributs>
                    </app-attributs>
                </div>
                
                <div *ngIf="state[PossibleTabs.NEW]">  </div>

                <div *ngIf="state[PossibleTabs.GALLERY]">  </div>
            
                <div *ngIf="state[PossibleTabs.SAVE]">   </div>
                
                <div *ngIf="state[PossibleTabs.EXPORT]"> </div>
                
                <div *ngIf="state[PossibleTabs.HELP]"> </div>
                
                <div *ngIf="gridStatus">
                    <app-grid></app-grid>
                </div>

            </div>
            
        </div>
        
        
        
    </body>
</html>
