#background {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
}


#indicator {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 2;
}