<body>

  <script src="https://kit.fontawesome.com/9b95dd33ea.js" crossorigin="anonymous"></script>
  <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet" id="font-awesome-5-kit-css">
  <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all" rel="stylesheet" id="font-awesome-5-kit-css">
  <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet" id="font-awesome-5-kit-css">

  <div class="main">

    <div class="Options">
     <a title="Sélection"><button [ngClass]= {notActive:true,active:tool[PossibleTools.SELECT]} (click)="toggle(PossibleTools.SELECT)"><i class="fas fa-mouse-pointer"></i></button> </a> 
     <a title="Crayon"> <button [ngClass]= {notActive:true,active:tool[PossibleTools.PEN]} (click)="toggle(PossibleTools.PEN)"><i class="fas fa-pen"></i></button></a>
     <a title="Pinceau"> <button [ngClass]= {notActive:true,active:tool[PossibleTools.PAINTBRUSH]} (click)="toggle(PossibleTools.PAINTBRUSH)"><i class="fas fa-brush"></i></button></a> 
     <button [ngClass]= {notImplemented:true} disabled (click)="toggle(PossibleTools.CALLIGRAPHY)"><i class="fas fa-pen-nib"></i></button>
     <a title="Aréosol"> <button [ngClass]= {notActive:true,active:tool[PossibleTools.SPRAYPAINT]} (click)="toggle(PossibleTools.SPRAYPAINT)"><i class="fas fa-spray-can"></i></button></a> 
      <mat-divider></mat-divider>
     <a title="Ligne">  <button [ngClass]= {notActive:true,active:tool[PossibleTools.LINE]} (click)="toggle(PossibleTools.LINE)"><i class="fas fa-minus"></i></button></a>
     <a title="Rectangle"> <button [ngClass]= {notActive:true,active:tool[PossibleTools.RECTANGLE]} (click)="toggle(PossibleTools.RECTANGLE)"><i class="far fa-square"></i></button></a> 
     <a title= "Ellipse">  <button [ngClass]= {notActive:true,active:tool[PossibleTools.ELLIPSE]} (click)="toggle(PossibleTools.ELLIPSE)"><i class="far fa-circle"></i></button></a> 
     <a title="Polygone">  <button [ngClass]= {notActive:true,active:tool[PossibleTools.POLYGONE]} (click)="toggle(PossibleTools.POLYGONE)"><i class="fas fa-draw-polygon"></i></button></a>
     <mat-divider></mat-divider>
     <a title="Applicateur de couleur"><button [ngClass]= {notActive:true,active:tool[PossibleTools.COLORIZE]} (click)="toggle(PossibleTools.COLORIZE)"><i class="fas fa-tint"></i></button></a>
     <a title="Sceau de peinture">  <button [ngClass]= {notActive:true,active:tool[PossibleTools.PAINTBUCKET]} (click)="toggle(PossibleTools.PAINTBUCKET)"><i class="fas fa-fill-drip"></i></button></a>
     <a title="Pipette"> <button [ngClass]= {notActive:true,active:tool[PossibleTools.PIPETTE]} (click)="toggle(PossibleTools.PIPETTE)"><i class="fas fa-eye-dropper"></i></button></a> 
      <mat-divider></mat-divider>
      <a title ="Efface"> <button [ngClass]= {notActive:true,active:tool[PossibleTools.ERASER]} (click)="toggle(PossibleTools.ERASER)"><i class="fas fa-eraser"></i></button></a>
      <button [ngClass]= {notImplemented:true} disabled (click)="toggle(PossibleTools.TEXT)"><i class="fas fa-font"></i></button>
      <a title ="Étampe"> <button [ngClass]= {notActive:true,active:tool[PossibleTools.STAMP]} (click)="toggle(PossibleTools.STAMP)"><i class="fas fa-stamp"></i></button></a>
    
      <mat-divider></mat-divider>
      <app-colorPalette></app-colorPalette>
      

    </div>

    <div *ngIf="tool[PossibleTools.SELECT]">
      <app-selector></app-selector>
    </div>
    
    <div *ngIf="tool[PossibleTools.PEN]">
      <app-pen></app-pen>
    </div>
    
    
    <div *ngIf="tool[PossibleTools.PAINTBRUSH]">
      <app-paintBrush></app-paintBrush>
    </div>
    
    <div *ngIf="tool[PossibleTools.CALLIGRAPHY]">
      <app-calligraphy></app-calligraphy>
    </div>
    
    <div *ngIf="tool[PossibleTools.SPRAYPAINT]">
      <app-sprayPaint></app-sprayPaint>
    </div>
    
    <div *ngIf="tool[PossibleTools.RECTANGLE]">
      <app-rectangle></app-rectangle>
    </div>
    
    <div *ngIf="tool[PossibleTools.ELLIPSE]">
      <app-ellipse></app-ellipse>
    </div>
    
    <div *ngIf="tool[PossibleTools.POLYGONE]">
      <app-polygone></app-polygone>
    </div>
    
    <div *ngIf="tool[PossibleTools.LINE]">
      <app-line></app-line>
    </div>
    
    <div *ngIf="tool[PossibleTools.PAINTBUCKET]">
      <app-paintBucket></app-paintBucket>
    </div>
    
    <div *ngIf="tool[PossibleTools.ERASER]">
      <app-eraser></app-eraser>
    </div>
    
    <div *ngIf="tool[PossibleTools.STAMP]">
      <app-stamp></app-stamp>
    </div>
    
    <div *ngIf="tool[PossibleTools.TEXT]">
      <app-text></app-text>
    </div>
    <mat-divider></mat-divider>
    

  </div>
</body>