body {
    z-index: 1;
    box-shadow: 0px 0px 10px 0px;
}

.main {
    background-color: #303030;
    width: 250px;
    height: 100vh;
}


.options {

    padding: 0px;
    top: 10px;
    right: 10px;
    background-color: #303030;
    color: white;
    max-height: auto;
}




.stroke {
    margin: 10px;
    color: white;
}


.notActive:hover {
    background-color: #1a1a1a;
}

.active:hover {
    background-color: #bebebe;
}

.notActive {
    background-color: #303030;
    border: none;
    color: white;
    padding: 8px 10px;
    border-radius: 8px;

    font-size: 28px;
    cursor: pointer;

}

.active {
    background-color: white;
    border: none;
    color: #303030;
    padding: 8px 10px;
    border-radius: 8px;

    font-size: 28px;
    cursor: pointer;

}

.notImplemented {
    background-color: #303030;
    border: none;
    color: #606060;
    padding: 8px 10px;
    border-radius: 8px;

    font-size: 28px;
    cursor: pointer;

}

