<div class="options">
  <span>Facteur de mise à l'échelle: </span>
  <b class="factor">{{factor.value}}</b>
  <mat-slider #factor step="1" min="1" max="100" [(ngModel)]="service.factor"></mat-slider>
  
  <mat-divider></mat-divider>
  
  <span>Angle d'orientation de l'étampe en degrés: </span>
  <b class="angle">{{angle.value}}</b>
  <mat-slider #angle step="1" min="0" max="359" [(ngModel)]="service.angle"></mat-slider>
  
  <mat-divider></mat-divider>
  
  <mat-form-field>
    <mat-label>Choix d'étampe: </mat-label>
    <mat-select [(ngModel)]="service.shape">
      <mat-option value="heart">Coeur</mat-option>
      <mat-option value="thumbsUp">Pouce</mat-option>
      <mat-option value="smile">Sourire</mat-option>
      <mat-option value="arrow">Flèche</mat-option>
      <mat-option value="star">Étoile</mat-option>
    </mat-select>
  </mat-form-field>

</div>