<div class="options">
        
    
  <mat-form-field>
    <mat-label >Police du texte</mat-label>
    <mat-select #fontSize value="12px">
      <mat-option value="Times">Times</mat-option>
      <mat-option value="Arial">Arial</mat-option>
      <mat-option value="Arial Black">Arial Black</mat-option>
      <mat-option value="Calibri">Calibri</mat-option>
    </mat-select>
  </mat-form-field>
  
    <mat-divider></mat-divider>
  
  <mat-form-field>
    <mat-label>Taille de la police</mat-label>
    <mat-select #fontSize value="12px">
      <mat-option value="10px">10px</mat-option>
      <mat-option value="12px">12px</mat-option>
      <mat-option value="14px">14px</mat-option>
      <mat-option value="16px">16px</mat-option>
      <mat-option value="18px">18px</mat-option>
      <mat-option value="20px">20px</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-divider></mat-divider>
  
  <mat-button-toggle-group class="stroke" #group="matButtonToggleGroup" multiple >
    <mat-button-toggle value="Gras" aria-label="Text align left">
      <i class="fas fa-bold"></i>
    </mat-button-toggle>
    <mat-button-toggle value="Italique" aria-label="Text align center">
      <i class="fas fa-italic"></i>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="stroke">Mutateur: {{group.value}}</div>
  
  <mat-divider></mat-divider>
  
  <mat-button-toggle-group class="stroke" #align="matButtonToggleGroup">
    <mat-button-toggle value="Gauche" aria-label="Text align left">
      <i class="fas fa-align-left"></i>
    </mat-button-toggle>
    <mat-button-toggle value="Centre" aria-label="Text align center">
      <i class="fas fa-align-center"></i>
    </mat-button-toggle>
    <mat-button-toggle value="Droit" aria-label="Text align right">
      <i class="fas fa-align-right"></i>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="stroke">Alignement: {{align.value}}</div>
</div>