<div class="options">
  <span>Tolérance en pourcentage: </span>
  <b class="strokeWidth">{{strokeWidth.value}}</b>
  <mat-slider #strokeWidth step="1" min="0" max="100" [(ngModel)]="service.strokeWidth"></mat-slider>
</div>