<div class="options">
  <span>Longueur de la ligne (px): </span>
  <b class="calligraphySize">{{calligraphy.value}}</b>
  <mat-slider #calligraphy step="1" min="1" max="100" [(ngModel)]="service.calligraphySize"></mat-slider>
  
  <mat-divider></mat-divider>
  
  <span>Angle d'orientation en degres: </span>
  <b class="calligraphyAngle">{{angle.value}}</b>
  <mat-slider #angle step="1" min="1" max="359" [(ngModel)]="service.calligraphyAngle"></mat-slider>
</div>

