
footer{
    background-color: #7B1FA2;
    position: fixed;
     bottom: 0;
     width: 100%;
     color: white;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   }
   
 body {  
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: linear-gradient(#5f5f5f, #424242, #303030, #1a1a1a,#1a1a1a, #303030,#424242,#5f5f5f);
 }
  
