#colorPalette {
    display: grid;
    width: 225px;
    height: auto;
    grid-template-areas: "selectedColor preset"
                         "colorChooser  preset"
                         "colorTransparency  preset"
                         "textInput  preset";
    background-color: none;
  }
  
  #colorPalette > #selectedColor {
    margin-top: 2px;
    grid-area: selectedColor;

    width: 200px;

    display: grid;
    grid-template-areas: "mainColor switch secondaryColor"
                         "mainColorText empty secondaryColorText"
                         "mainColorButton colorIndicator secondaryColorIndicator";

    text-align: center;
    justify-items: center;
    grid-gap: 5px;
  }
    #mainColor {
        grid-area: mainColor;
    }

    button{
        background-color:  #7B1FA2;
        border: transparent;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid rgba(255,255,255,.12);
    }
    button:hover{
        background-color: #1a1a1a;
    }
    i{
        color: white; 
        font-size: 13px;
    }
    div{
        color: white;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
    #mainColorButton{
        margin-left: 5px;
    }
    #switch {
        grid-area: switch;
    }
    #switchButton{
        margin-top: 32%;
        height: 50%;
    }
    #secondaryColor {
        grid-area: secondaryColor;
    }

    #mainColorText {
        grid-area: mainColorText;
    }

    #secondaryColorText {
        grid-area: secondaryColorText;
    }

    #mainColorButton {
        grid-area: mainColorButton;
    }

    #colorIndicator {
        grid-area: colorIndicator;
    }

    #secondaryColorIndicator {
        grid-area: secondaryColorIndicator;
    }
     
  #colorPalette > #colorChooser {
    grid-area: colorChooser;
  }
  
  #colorPalette > #colorTransparency {
    grid-area: colorTransparency;
    padding-left: 7px;
  }
  
  #colorPalette > #textInput {
    grid-area: textInput;
    padding-left: 7px;
  }

  #colorPalette > #presetContainer{
      grid-area: preset;
  }

h1 {
    color: white;
    margin: 0;
    font-size: 14px;
}

.preset {
    width: 25px;
    height: 25px;

    border-radius: 50%;

    top: 50%;
    left: 50%;
    z-index: 2;
}

.bgPreset {
    background-color: white;
    width: 25px;
    height: 25px;

    border-radius: 50%;
    border-style: solid;
    border-color: black;
    
    margin: 15%;

    z-index: 1;

    top: 50%;
    left: 50%;
}


  


