<section id="colorPalette">
    <div id=selectedColor>
        
        <div id="mainColor" class="bgPreset">
            <div class="preset"
                [ngStyle]="{'background-color': mainColor.rgba_string}"
                (click)="setMainFromPreset(POSSIBLE_COLOR_SLECTED.MAIN)"
                (contextmenu)="setSecondaryFromPreset(POSSIBLE_COLOR_SLECTED.MAIN, $event)">
            </div>
        </div>


        
      <a title="Intervertir les couleurs">  <button id="switchButton" (click)="switchColor()"><i class="fas fa-exchange-alt"></i></button> </a> 
        
        <div class="bgPreset" id="secondaryColor">
            <div class="preset" 
                [ngStyle]="{'background-color': secondaryColor.rgba_string}"
                (click)="setMainFromPreset(POSSIBLE_COLOR_SLECTED.SECONDARY)"
                (contextmenu)="setSecondaryFromPreset(POSSIBLE_COLOR_SLECTED.SECONDARY, $event)">
            </div>
        </div>

        
        <button id="mainColorButton" (click)="setMain($event)"><i class="fas fa-caret-up"><div>Couleur Primaire</div></i><h3 id=mainColorText></h3></button>
        
        <app-colorIndicator id="colorIndicator"></app-colorIndicator>
        
        <button id="secondaryColorIndicator" (click)="setSecondary()"><i class="fas fa-caret-up"> <div>Couleur Secondaire</div></i><h3 id="secondaryColorText"></h3></button>
    </div>
    <div id=colorChooser>
        <app-colorChooser>
        </app-colorChooser>
    </div>
    

    <div id=colorTransparency>
        <h1>Transparence</h1>
        <app-colorTransparency>
        </app-colorTransparency>
    </div>

    <div id=textInput>
        <app-colorInputText>
        </app-colorInputText>
    </div>
    
    <div id=presetContainer>
        <div  *ngFor="let bgColor of preset; let i = index" >
            <div class="bgPreset" [ngStyle]="{'grid-row': i}" >
                <div (click)="setMainFromPreset(i)"
                    (contextmenu)="setSecondaryFromPreset(i, $event)"
                    class="preset" 
                    [ngStyle]="{'background-color': bgColor.rgba_string, 'grid-row': i}">
                </div>
            </div>
        </div>
    </div>
</section>