mat-sidenav {
    width: 330px;
  }

mat-sidenav-content {
  overflow-x: hidden;
  overflow-y: visible;
  height: 80vh;
}

p{
  padding-left: 30px;
  line-height: 1;
}


.navigation-button {
  padding: 0 6px 0 6px;
  margin: 5px;
  min-width: 88px;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  background-color: #7B1FA2;
}

.center-buttons {
  position: relative;
  top: 30%;
  left: 50%;
}

.content-title{
  padding-left: 15px;
}
.content{
  width :100vw;
}
