<body (keydown)="$event.stopPropagation()">

    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <h1>Guide de l'utilisateur</h1>
        </mat-toolbar-row>
        </mat-toolbar>
        
        <mat-sidenav-container>
        <mat-sidenav mode="side" #sidenav opened="true" disableClose="true" role="navigation">
            <mat-nav-list>
                <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.WELCOME)">
                    Bienvenue
                </a>
                <!-- to allow all categories to be expanded at the same time -->
                <!-- for more details:
                    https://stackblitz.com/edit/stackoverflow-49230894?file=app%2Fexpansion-overview-example.html -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Page d'accueil
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.NEW_DRAWING)">
                        Créer un nouveau dessin
                    </a>
                    <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.GALLERY)">
                        Galerie de dessin
                    </a>
                    <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.CONTINUE)">
                        Continuer un dessin
                    </a>
                </mat-expansion-panel>
        
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Options de fichier
                        </mat-panel-title>
                    </mat-expansion-panel-header>
        
                    <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.SAVE)">
                        Sauvegarder un dessin
                    </a>
                    <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.EXPORT)">
                        Exporter un dessin
                    </a>
                </mat-expansion-panel>
        
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Outils
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.COLOR)">
                        Couleur
                    </a>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Outils de traçage
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.PEN)">
                            Crayon
                        </a>
                        <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.PAINT_BRUSH)">
                            Pinceau
                        </a>
                        <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.CALLIGRAPHY)">
                            Plume
                        </a>
                        <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.SPRAY_PAINT)">
                            Aérosol
                        </a>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Formes
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.RECTANGLE)">
                            Rectangle
                        </a>
                        <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.ELLIPSE)">
                            Ellipse
                        </a>
                        <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.POLYGON)">
                            Polygone
                        </a>
                    </mat-expansion-panel>
                    <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.LINE)">
                        Ligne
                    </a>
                    <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.TEXT)">
                        Texte
                    </a>
                    <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.COLORIZE)">
                        Applicateur de couleur
                    </a>
                    <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.PAINT_BUCKET)">
                        Sceau de peinture
                    </a>
                    <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.ERASER)">
                        Efface
                    </a>
                    <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.STAMP)">
                        Étampe
                    </a>
                    <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.PIPETTE)">
                        Pipette
                    </a>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Sélection
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.SELECTION_RECTANGLE)">
                            Rectangle de sélection
                        </a>
                        <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.INVERSE_SELECTION_RECTANGLE)">
                            Rectangle d'inversion de sélection
                        </a>
                        <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.MOVE)">
                            Déplacement
                        </a>
                        <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.SCALE)">
                            Redimensionnement
                        </a>
                        <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.ROTATION)">
                            Rotation
                        </a>
                        <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.SELECTION_MANIP)">
                            Manipulations de sélection et presse-papier
                        </a>
                       
                    </mat-expansion-panel>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Options de surface de dessin
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.GRID)">
                        Grille
                    </a>
                    <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.MAGNET)">
                        Magnétisme
                    </a>
                </mat-expansion-panel>
                <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.UNDO_REDO)">
                    Annuler-refaire
                </a>
                <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.SHORTCUTS)">
                    Raccourcis clavier
                </a>
                <a mat-list-item (click)="loadNewGuideContent(SECTION_INDEXES.SELECTION_TOOL)">
                    Comportements de l’outil de sélection
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class= "scrollbar">
        
        
                
                <!--Displays the content of the currently selected element -->
                <h2 class="content-title">{{currentlyDisplayedContent.title}}</h2>
                <div class="content" *ngFor="let text of currentlyDisplayedContent.paragraphs">
                    <p>{{text}}</p>
                </div> 
            
            <div>
        
                <div class="center-buttons">
                    
                    <button class="navigation-button" mat-button [disabled]="contentIndex === 0" (click)="switchExpandSubjects();decrementContentIndex();">
                        ← Précédent
                    </button>
                    <button class="navigation-button" mat-button mat-dialog-close>
                        Retour
                    </button>
                    <button class="navigation-button" mat-button [disabled]="contentIndex === lastIndex" (click)="switchExpandSubjects();incrementContentIndex();">
                        Suivant →
                    </button>
                </div> 
            
            
            </div> 
        </mat-sidenav-content>
        </mat-sidenav-container>
       
</body>