#colorChooser:hover {
    cursor: grab;
}

#colorChooser:active {
    cursor: grabbing;
}

#colorChooser {
    z-index: 1;
    background-color: none;
}

#colorShadder {
    z-index: 2;
}

.container {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 200px;
    padding: 0px;
    margin: 0;
}

// put both element in the same grid box
.displayable {
    grid-row: 1;
    grid-column: 1;
}