
<div class="container">
  <canvas #canvas 
    class=displayable
    id=colorChooser 
    width="200"
    height="200"
    (mousemove)="mouseMoving($event)"
    (mousedown)="leftClickPressed($event)"
    >
  </canvas>

  <app-colorShadder class=displayable id=colorShadder></app-colorShadder>

  <!-- <app-colorIndicator id=indicator class=displayable>  
  </app-colorIndicator> -->
</div>