<div class="options">
  <span>Nombre d’émissions par seconde: </span>
  <b class="sprayPower">{{sprayPower.value}}</b>
  <mat-slider #sprayPower step="1" min="1" max="200" [(ngModel)]="service.sprayPower"></mat-slider>
  
  <mat-divider></mat-divider>
  
  <span>Diamètre du jet (px): </span>
  <b class="sprayDiameter">{{sprayDiameter.value}}</b>
  <mat-slider #sprayDiameter step="1" min="1" max="100" [(ngModel)]="service.sprayDiameter"></mat-slider>
</div>