<div class="options">
<span>Épaisseur du trait (px): {{ strokeWidth.value }}</span>
  <mat-slider #strokeWidth thumbLabel step="1" min="1" max="100" [(ngModel)]="service.strokeWidth"></mat-slider>
</div>