<body (keydown)="$event.stopPropagation()">
 
   
  <div class = "grid-container">


    <h1 class="header">Créer un nouveau dessin</h1>

  
      <div class="input1">  Largeur :
        <mat-form-field>
          <label for="email--input" style="display: none"></label>
          <input matInput
                 (keyup)="changePageSize(height.value, width.value)"
                 [(ngModel)] = "data.pageWidth"
                 [ngModelOptions]="{standalone: true}"
                 #width required
                 min = "0" 
                 name = "width"
                 type = "number"/>
      </mat-form-field>
      </div>
    
      <div class="input2">Hauteur :
        <mat-form-field>
        <label for="email--input" style="display: none"></label>
        <input matInput
               (keyup)="changePageSize(height.value, width.value)"
               [(ngModel)] = "data.pageHeight"
               [ngModelOptions]="{standalone: true}"
               #height required
               min = "0" 
               name = "height"
               type = "number"/>
     </mat-form-field>
      </div>
 

    <div class = "color">
        <div class = "grid-container2">

          <div class = "restOfColor">
            <app-colorChooser></app-colorChooser>
            <app-colorInputText></app-colorInputText>
              <div class = "transparency">
                <app-colorTransparency ></app-colorTransparency>
              </div> 
          </div>

          <div class = "indicator" >
            <div>
              <app-colorIndicator></app-colorIndicator>
            </div>
          </div>
        </div>
     
      
    </div>
    <ng-template [ngIf]="drawNotNull">
      <div class= "warning"> 
        <p>ATTENTION!</p>
        <p>Votre dessin en cours va être détruit.</p>
        <p>Veuillez sauvegarder si vous souhaitez le conserver.</p>
      </div>
     </ng-template>

    <div class="button">
      <mat-dialog-actions align="end">
        <button  mat-button mat-dialog-close>Retour</button>
        <button  routerLink = 'drawing' mat-dialog-close mat-button  (click) = "newDrawSheetData()" cdkFocusInitial  >Créer</button>
      </mat-dialog-actions>
    </div>
  </div>



</body>
  

