

body{
   height: auto;
   width: auto;
   background-image: linear-gradient(transparent);
}

button{
  background-color: #7B1FA2;
}
 
 .grid-container{

    display: grid;
    grid-template-areas:
    'header header header'
    'input1 color color'
    'input2 color color'
    'empty color color'
    'button button button';
      grid-gap: 15px;
 } 


.mat-dialog-actions {
   justify-content: flex-end;
}
.color{
   grid-area: color;
   border-color: transparent transparent transparent rgba(111, 105, 112, 0.596);
   border-style: solid;
} 

.grid-container2{

   display: grid;
   grid-template-areas:
   ' indicator '
   ' restOfColor';
   justify-content: flex-end;
   justify-items: center;
} 

.warning{
   color:red;
   line-height: 0.3;
   text-align: center;
}

.button { grid-area: button;}
.header { grid-area: header;}
.input { grid-area: input;}
.transparency{ display:none }
.indicator{ grid-area: indicator;}
.restOfColor{ grid-area: restOfColor;}
