<div class="options">
  <span>Nombre de côtés  du polygone (de 3 à 12): </span>
  <b class="sideNumber">{{sidesNumber.value}}</b>
  <mat-slider #sidesNumber step="1" min="3" max="12" [(ngModel)]="service.sidesNumber"></mat-slider>
  
  <mat-divider></mat-divider>
  
  <span>Épaisseur du trait de contour (px): </span>
  <b class="strokeWidth">{{strokeWidth.value}}</b>
  <mat-slider #strokeWidth step="1" min="1" max="100" [(ngModel)]="service.strokeWidth"></mat-slider>
  
  <mat-divider></mat-divider>
  
  <mat-slide-toggle [(ngModel)]="service.borderEnabled" [disabled]="borderButtonDisabled" (change)="onBorderButtonChange()">
        Contour
  </mat-slide-toggle>
  
  <mat-divider></mat-divider>
  
  <mat-slide-toggle [(ngModel)]="service.fillEnabled" [disabled]="fillButtonDisabled" (change)="onFillButtonChange()">
        Plein
  </mat-slide-toggle>
</div>