body{
   height: 80vh;
   background-image: linear-gradient(transparent);
}

button{
   background-color: #7B1FA2;
}

mat-card{
   background-color: #303030;
   margin: 5px;
}
mat-label{
   color : white;
}  
mat-spinner {
   color: green;
}
.mat-dialog-actions {
   justify-content: flex-end;
   top: 0;
   right: 0;
 }
 .content{
    height: 45vh;
 }
 
 .filters {
   width: 100%;
 }

 .drawing-list{
   display: grid;
   grid-template-columns: auto auto auto auto;
   text-align: start;

 }
 .tag {
    background-color: #7B1FA2;
    margin: 3px;
 }

 .icon-button {
   background-color: #7B1FA2;
   margin: 5px;
   border-radius: 5px;
 }

 .overlay {
   z-index: 1002;
 }

 .grid-title{
    display : grid;
    grid-template-columns: auto 1200px;
 }
 
 .warning{
   color :red;
 }

 mat-card img {
   object-fit: cover; /*this makes the image in src fit to the size specified below*/
   width: 300px; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
   height: 300px;
 }
