<body (keydown)="$event.stopPropagation()">
   <div class = "grid-title">
    <h1 class = "title">Galerie
      <!-- inspired from https://onthecode.co.uk/angular-display-spinner-every-request/ -->
    </h1>
    <mat-spinner  diameter = '25' color = 'accent' class="overlay" *ngIf="showLoadingSpinner" ></mat-spinner>
   </div>
  
  <mat-dialog-actions>
    <button mat-button mat-dialog-close >Retour</button>
  </mat-dialog-actions>


  
  <div class= "content" >

    <!-- inspired from https://material.angular.io/components/chips/examples -->
    <mat-form-field class="filters">
      <mat-label>Filtrer les étiquettes</mat-label>
      <mat-chip-list #chipList aria-label="tag filter">
        <mat-chip *ngFor="let filter of allTagFilters" (removed)="removeTagFilter(filter)">
          {{filter}}
        <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
  
        <input placeholder="Ex: paysage"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="SEPARATOR_KEYS_CODES"
              (matChipInputTokenEnd)="addTagFilter($event)">
      </mat-chip-list>
    </mat-form-field>

    <div class="drawing-list">
      <mat-card *ngIf="noDrawingsToShow">
        Aucun dessin ne correspond à ce ou ces filtres.
      </mat-card>

      <mat-card class="drawing-card" *ngFor="let drawingToShow of drawingsToShow">
        <mat-card-header>
            <mat-card-title class="title"> {{drawingToShow.name}}</mat-card-title>

            <button mat-icon-button class="icon-button">
              <mat-icon (click)= "openConfirmPanel(LOAD_ACTION, drawingToShow)">edit icon</mat-icon>
            </button>

            <button mat-icon-button class="icon-button">
              <mat-icon (click)= "openConfirmPanel(DELETE_ACTION, drawingToShow)">delete</mat-icon>
            </button>
        </mat-card-header>

        <img mat-card-image  src="{{drawingToShow.pngContent}}" width="80" height="80">

        <mat-card-content>
          <mat-chip *ngFor="let tag of drawingToShow.tags" class="tag">
            {{tag}}
          </mat-chip>
        </mat-card-content>
        
      </mat-card>

    </div>
   
  </div>
  

</body>
